[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
flask-restx = "*"
flask-jwt-extended = "*"
python-decouple = "*"
flask-cors = "*"
authlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
